.button{
    /* background-color: darkgray; */
    height: 100px;
    width: 100px;
}

body{
    background-color: black;
}

.bar{
    width: 200px;
    height: auto;
    text-align: center;
    color: white;
}

#healthbar{
    position: relative;
    height: 25px;
    width: 200px;
    border: 2px solid cyan;
    background-color: darkslategray;
}

.box{
    position: relative;
    background-color: darkslategray;
}

#health, #happy{
    position: absolute;
    height: 25px;
    width: 200px;
    transition: width 1s;
    background-color: limegreen;
}

/* #health:hover, #happy:hover{
    width: 100px;
} */